@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Young Serif", serif;
}

body {
    background-color: hsl(30, 54%, 90%);
    /* padding: 20%; */
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    height: 100%;
    margin: 50px 0 10px;
    padding: 60px;
    border-radius: 15px;
}

img {
    width: 100%;
    border-radius: 15px;
}
h1 {
    margin: 20px 0;
    font-weight: 400;
}

p {
    font-size: 16px;
    margin: 20px 0;
    color: hsl(30, 10%, 34%);
}
.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 30px;
    border-radius: 15px;
    margin: 20px 0;

}
span {
    font-weight: 600;
}
.preparation li {
    color: hsl(30, 10%, 34%);
    font-weight: 400;
}
li {
    padding-left: 30px;
}
li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

h4 {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}
h2 {
    color: hsl(14, 45%, 36%);
}

#ingredients {
    margin: 20px 20px;
}
#ingredients li {
    margin: 10px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}
hr {
    color: hsl(30, 10%, 34%);
    margin: 20px 0;
}

#instructions {
    margin: 20px 20px;
}

#instructions li {
    margin: 10px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}
.items {
    display: grid;
    grid-template-columns: 50% 50%;
}
.items p {
    margin-left: 40px;
}
.items span {
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}